/service/SurfWeb/GrabData/bin
/service/SurfWeb/Core/bin
/service/SurfWeb/Client/bin
/service/SurfWeb/Service/bin
/service/SurfWeb/Service/obj
/service/SurfWeb/Client/obj
/service/SurfWeb/GrabData/obj
/service/SurfWeb/Core/obj
/service/SurfWeb/Client/appsettings.Development.json
/service/SurfWeb/GrabData/appsettings.Development.json
/service/SurfWeb/Service/appsettings.Development.json
/service/SurfWeb/.vs
/service/SurfWeb/Common/bin
/service/SurfWeb/Utils/bin
/service/SurfWeb/Configurations/bin
/service/SurfWeb/Model/bin
/service/SurfWeb/Services/bin
/service/SurfWeb/Repositories/bin
/service/SurfWeb/ClientWeb/bin
/service/SurfWeb/ServiceWeb/bin
/service/SurfWeb/Model/obj
/service/SurfWeb/ClientWeb/obj
/service/SurfWeb/Configurations/obj
/service/SurfWeb/Services/obj
/service/SurfWeb/Utils/obj
/service/SurfWeb/Repositories/obj
/service/SurfWeb/Common/obj
/service/SurfWeb/ServiceWeb/obj
/service/SurfWeb/ClientWeb/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWeb/ClientWeb/bin/Release/net8.0/appsettings.Development.json
/service/SurfWeb/ClientWeb/bin/Release/net8.0/publish/appsettings.Development.json
/service/SurfWeb/ClientWeb/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/service/SurfWeb/GrabData/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWeb/ServiceWeb/appsettings.Development.json
/service/SurfWeb/ServiceWeb/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWeb/ClientWeb/appsettings.Development.json
