/service/SurfWebDefault/GrabData/bin
/service/SurfWebDefault/Core/bin
/service/SurfWebDefault/Client/bin
/service/SurfWebDefault/Service/bin
/service/SurfWebDefault/Service/obj
/service/SurfWebDefault/Client/obj
/service/SurfWebDefault/GrabData/obj
/service/SurfWebDefault/Core/obj
/service/SurfWebDefault/Client/appsettings.Development.json
/service/SurfWebDefault/GrabData/appsettings.Development.json
/service/SurfWebDefault/Service/appsettings.Development.json
/service/SurfWebDefault/.vs
/service/SurfWebDefault/Common/bin
/service/SurfWebDefault/Utils/bin
/service/SurfWebDefault/Configurations/bin
/service/SurfWebDefault/Model/bin
/service/SurfWebDefault/Services/bin
/service/SurfWebDefault/Repositories/bin
/service/SurfWebDefault/ClientWeb/bin
/service/SurfWebDefault/ServiceWeb/bin
/service/SurfWebDefault/Model/obj
/service/SurfWebDefault/ClientWeb/obj
/service/SurfWebDefault/Configurations/obj
/service/SurfWebDefault/Services/obj
/service/SurfWebDefault/Utils/obj
/service/SurfWebDefault/Repositories/obj
/service/SurfWebDefault/Common/obj
/service/SurfWebDefault/ServiceWeb/obj
/service/SurfWebDefault/ClientWeb/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWebDefault/ClientWeb/bin/Release/net8.0/appsettings.Development.json
/service/SurfWebDefault/ClientWeb/bin/Release/net8.0/publish/appsettings.Development.json
/service/SurfWebDefault/ClientWeb/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/service/SurfWebDefault/GrabData/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWebDefault/ServiceWeb/appsettings.Development.json
/service/SurfWebDefault/ServiceWeb/bin/Debug/net8.0/appsettings.Development.json
/service/SurfWebDefault/ClientWeb/appsettings.Development.json
/service/SurfWebAutofac/Configurations/bin
/service/SurfWebAutofac/Services/bin
/service/SurfWebAutofac/IServices/bin
/service/SurfWebAutofac/Extensions/bin
/service/SurfWebAutofac/Common/bin
/service/SurfWebAutofac/Repository/bin
/service/SurfWebAutofac/SurfWebAutofac/bin
/service/SurfWebAutofac/Model/bin
/service/SurfWebAutofac_Old/bin
/service/SurfWebAutofac_Study/SurfWebAutofac/bin
/service/SurfWebAutofac/Model/obj
/service/SurfWebAutofac/Configurations/obj
/service/SurfWebAutofac/Extensions/obj
/service/SurfWebAutofac/Repository/obj
/service/SurfWebAutofac/Services/obj
/service/SurfWebAutofac/SurfWebAutofac/obj
/service/SurfWebAutofac/Common/obj
/service/SurfWebAutofac/IServices/obj
